<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - Ordering Form</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://kit.fontawesome.com/1562d2a823.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Let's actually create the layout for this - I can't decide custom CSS or Bootstrap... -->
    <div class="wrapper">

        <!-- left-aligned navbar -->
        <nav id="sidebar">
            <div class="header">
                <h2>Order Form</h2>
                <strong>OR</strong> <!-- when sidebar is collapsed -->
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'orders:dashboard' %}"><i class="fa-solid fa-house"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{% url 'companies:dashboard' %}"><i class="fa-solid fa-building"></i><span>Companies</span></a>
                </li>
                <li>
                    <a href="{% url 'orders:all_orders' %}"><i class="fa-regular fa-file-lines"></i><span>Orders</span></a>
                </li>
                <li>
                    <a href="{% url 'orders:all_products' %}"><i class="fa-solid fa-database"></i><span>Products</span></a>
                </li>
                <li>
                    <a href="{% url 'users:dashboard' %}"><i class="fa-solid fa-users"></i><span>Users</span></a>
                </li>
                <li class="active">
                    <a href="{% url 'users:help' %}"><i class="fa-regular fa-circle-question"></i><span>Help</span></a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-dark">
                <button type="button" class="btn btn-blue btn-pointer" id="toggle-sidebar-btn">
                    <i class="fa-solid fa-angles-up" id="toggle-sidebar"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <div class="container">
                    <p id="user-label">Logged in as: <span id="logged-in-username">username</span></p>
                    <div id="user-icon">
                        <img src="{% static 'img/default_avatar.png' %}" class="img-icon" alt="user avatar">
                        <i id="user-icon-chevron" class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul id="user-dropdown" class="list-unstyled components">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <a href="{% url 'users:logout' %}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="main">
                <!-- display a list of companies and number of products for each I suppose -->
                Help
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bar_script.js' %}"></script>
</body>
</html>